@charset "utf-8";

body {
    background-color: rgb(236, 226, 219);
}

/* 상단 */
#header {
    width: 100%;
    text-align: center;
}

#header h2 {
    font-size: 16px;
    padding-top: 15px;
}

#header img {
    position: absolute;
    top: 14px;
    right: 8px;
    width: 15px;
    height: 15px;
}

/* 상단 메뉴 */
#menu_top {
    margin: 20px auto 0 auto;
    width: 85%;
    height: 35px;
}

#menu_top li {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
}

/* 안쪽 박스*/
#inner_container {
    width: auto;
    height: 300px;
    background-color: #fff;
    margin:20px 20px 15px 15px;
    box-sizing: border-box;
}
#inner_container img{
	width: 40px;
	height: 40px;
 vertical-align: middle;
 padding: 0  10px 0 10px;
}

#count{
text-align: center;
float: left;
width: 50%;}

#count2{
text-align: center;
border-left: 3px solid #eee;	
}

/* 바닥 메뉴 */
#menu_bottom_container {
    margin: 20px 15px;
}

#menu_bottom {
    width: 100%;
}

#menu_bottom li {
    /* text-align: center; */
    font-size: 13px;
    background-color: #fff;
    line-height: 38.5px;
    /* border-radius: 20px; */
    border-bottom: 3px solid #eee;
    box-sizing: border-box;
}

#menu_bottom li:last-child {
    margin-right: 0;
}

#menu_bottom li a {
    text-decoration: none;
    color: #888888;
    letter-spacing: -1px;

}

/* 바닥 */
#bottom a{
    color: #777777;
    font-size: 14px;
    position: absolute;
    right: 20px;
}

#bottom {
    margin: 40px 40px 0 20px;
}

body #footer {
   margin-bottom: 0;
}

.logout img {
   width: 18px;
   vertical-align: middle;
}

#menu_bottom li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4) {
    float: left;
    width: 50%;
    text-align: center;
}

#menu_bottom li:nth-child(2), li:nth-child(4) {
	border-left: 3px solid rgb(236, 226, 219);
}

#menu_bottom li:nth-child(3) {
	border-bottom: 10px solid rgb(236, 226, 219);
}

#menu_bottom li:nth-child(4) {
	border-bottom: 10px solid rgb(236, 226, 219);
}


#menu_bottom li:nth-child(5) {
    content: '';
    clear: both;
    display: block;
    float: none;
}